body {
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.dark-blue {
  color: white;
  background-color: #073b4c;
}

.blue {
  background-color: #118ab2;
}

.green {
  background-color: #06d6a0;
}
.yellow {
  background-color: #ffd166;
}
.red {
  background-color: #ef476f;
}
